.btn-enter {
  opacity: 0;
  transform: translate(100%);
}

.btn-enter-active {
  opacity: 1;
  transform: translate(0);
  transition: opacity 1000ms, transfrom 1000ms;
}

.btn-exit {
  opacity: 1;
  transform: translate(0);
}

.btn-exit-active {
  opacity: 0;
  transform: translate(-100%);
  transition: opacity 1000ms, transfrom 1000ms;
}
